.container{
    height:96vh; 
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#box{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border:1px solid black;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    padding:2em
}
.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
